<% include ../partials/basim-header.ejs %>
<% include ../partials/slider.ejs %>

	<div class="agileits_reservation">
					<form action="#" method="post">
						<div class="cuisine"> 
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<input type="text" name="Location" placeholder="Enter name" required="">
						</div>
						<div class="phone_email"> 
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							<input type="text" name="Phone" placeholder="Phone" required=""> 
						</div>
						<div class="phone_email1"> 
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="clearfix"> </div>
						<div class="cuisine"> 
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							<textarea type="text" class="textarea" placeholder="Message"></textarea>
							
						</div>
				
						<div class="date_btn"> 
							<input type="submit" value="REQUEST FOR CALL" /> 
						</div> 
					</form>
				</div>
 </div>
	<!-- //slider -->
<!-- // banner -->

<!-- /About -->
	<div class="w3-about about-gap" id="about">
		<div class="container">
			<div class="w3-heading-all">
				<br>
				<br>
				<br>
				<h3>WHY US?</h3>
			</div>
		<div class="w3-about-grids">
				<div class="col-md-6 w3-about-left-grid">
					<div class="w3-about-left-grid-inner-head"> 
							<!-- <i class="fa fa-microphone" aria-hidden="true"></i> -->
						<!-- <h3>Lets Talk about Primax</h3> -->
						<!-- <iframe class="w3-about-left" width="540" height="456" src="https://www.youtube.com/embed/0BOjTMkyfIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
					</div>
					<div class=" w3-about-left-grid-inner2-head">
						<h3>PRIMAX Pest Prevention is the right choice to the pest problems with 3000 homes, a 10-year professional team and prioritized consumer services.</h3>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 w3-about-right-grid">
						<div class="col-md-8 w3-about-right-text1">
							<!-- <h5>Lorem ipsum 109</h5> -->
							<br>
							<h4>WORKERS</h4>
							<p>Our workers are highly trained & work with security precautions and deliver quality service. We use the most advanced technology for the maximum exposure, protection and effectiveness. We are recognized as one of the best trained, technical and professional insect managers.</p>
				
						</div>
						<div class="col-md-4 w3-about-right-img1">
								<img src="/about500x500.jpg" alt="img" />
						</div>
						<div class="clearfix"></div>
						<div class="col-md-8 w3-about-right-text1">
							<!-- <h5>Dunke alpha 212</h5> -->
							<br>
							<h4>PESTS</h4>
							<p>Pests like Flies, Mosquitoes, Cockroaches and Bed Bugs seriously infect your health, destroy your food and everyday use & spread diseases like; dengue fever, typhoid, diarrhea, malaria and asthma</p>
						</div>
						<div class="col-md-4 w3-about-right-img1">
								<img src="/allpest.png" alt="img" />
						</div>
						<div class="clearfix"></div>
						<div class="col-md-8 w3-about-right-text1">
							<!-- <h5>Monst ibram 143</h5> -->
							<br>
							<h4>WE</h4>
							<hp>‘PRIMAX Pest Prevention’ set the “precise insect control program” standard to overcome insects. Yes, the protection plan has been emphasized on the systematic system. By using modern techniques we assure you full home protection and your convenience.</p>
						</div>
						<div class="col-md-4 w3-about-right-img1">
							<img src="/Primax 130x130.png" alt="img" />
						</div>
						<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
		</div>
		</div>
	</div>
	<!-- //About -->
<!-- /services -->
<div class="services" id="services">
	<div class="container">
		<div class="w3-heading-all services-head">
			<h3>Services</h3>
		</div>	
		<div class="w3-services-grids">
			<div class="col-md-4 w3-services-grids1">
				<div class="w3-services-grid1">
					<a href="termite-control.php">		
						<img height="100" width="100" src="/termite.jpg" alt="img" />
						<h3>TERMITE  CONTROL </h3>
						<div class="w3-services-grid1-left">
						
						</div>
						<div class="w3-services-grid1-right">
					
						</div>
					</a>		
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 w3-services-grids1 ">
				<div class="w3-services-grid2">
					<a href="mosquito-control.php">
						<img height="100" width="170" src="/mosquito.jpg" alt="img" />
						<h3>MOSQUITO CONTROL </h3>
						<div class="w3-services-grid1-left">
								<!-- <h4>20 </h4>
								<p>basus</p> -->
						</div>
						<div class="w3-services-grid1-right">
							<!-- <h4>10</h4>
								<p>basus</p> -->
						</div>
					</a>		
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 w3-services-grids1">
				<div class="w3-services-grid3">
					<a href="lizard-control.php">
						<img height="100" width="130" src="/lizard.jpg" alt="img" />
						<h3>LIZARD CONTROL</h3>
						<div class="w3-services-grid1-left">
								<!-- <h4>15 </h4>
								<p>mpsum</p> -->
						</div>
						<div class="w3-services-grid1-right">
							<!-- <h4>20</h4>
								<p>rasus</p> -->
						</div>
					</a>	
						<div class="clearfix"></div>
				</div>
			</div>
			
			<div class="clearfix"></div>
		
			<div class="w3-services-grid-bottom">
				<div class="col-md-4 w3-services-grids1">
					<div class="w3-services-grid4">
						<a href="bed-bug-control.php">		
							<img height="100" width="140" src="/bedbug.jpg" alt="img" />
							<h3>BED BUG CONTROL </h3>
							<div class="w3-services-grid1-left">
							
							</div>
							<div class="w3-services-grid1-right">
						
							</div>
						</a>	
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 w3-services-grids1">
					<div class=" w3-services-grid5">
					<a href="rat-control.php">
							<img height="100" width="150" src="/rat.jpg" alt="img" />
							<h3>RAT CONTROL </h3>
							<div class="w3-services-grid1-left">
							
							</div>
							<div class="w3-services-grid1-right">
						
							</div>
						</a>	
						
							<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 w3-services-grids1">
					<div class="w3-services-grid5">
						<a href="#">
							<br>
							<img height="80" width="150" src="/tataiya.png" alt="img" />
							<br>
							
							<h3>WOOD TATAIYA CONTROL </h3>
							<div class="w3-services-grid1-left">
							
							</div>
							<div class="w3-services-grid1-right">
						
							</div>
							
						</a>	
							<div class="clearfix"></div>
					</div>
				</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</div>
<!-- //services -->
<!-- testimonials -->
	<div class="testimonials" id="testimonials">
		<div class="container">
		<div class="w3-heading-all">
			<h3>Testimonials</h3>
		</div>
			<div class="w3ls_testimonials_grids">
				 <section class="center slider">
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p> We required the reviews</p>
								<h4>Ahmed</h4>
								<h5>Home</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="/tm1.jpg" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p>Primax is the one that i was looking for </p>
								<h4>Waves </h4>
								<h5>Company</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="/tm2.jpg" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p>It is the best product</p>
								<h4>Muneer Saleem</h4>
								<h5>Hostel</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="/tm3.jpg" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
				</section>
			</div>
		</div>
	</div>
<!-- //testimonials -->
<% include ../partials/footer.ejs %>
